# APIs
PIXABAYAPI__APIKEY=tu_apikey_de_pixabay
UNSPLASHAPI__APIKEY=tu_apikey_de_unsplash

# DB
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=localhost;Port=3306;Database=TuBaseDeDatos;User=TuUsuario;Password=TuContraseña;

# JWT
JWT__KEY=tu_clave_jwt_secreta
JWT__ISSUER=nombre_de_app
JWT__AUDIENCE=nombre_de_audiencia